@import "../theme/styles/variables";
@import "../theme/styles/mixins";
@import '../../../node_modules/angular2-toaster/toaster';

body::before{
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	//@include theme-bg($body-bg-gradient-color-1, $body-bg-gradient-color-2);
	background: $body-bg-color; // #5b6e8a;
	z-index: -1;
}

.main-wrapper{
	margin-left: $sidebar-width;
	padding: 30px 40px 60px;
	margin-top: $navbar-height;
	position: relative;
	flex: 1;
	// min-height: calc(100vh - 70px);
	overflow: hidden;
	&.menu-collapsed{
		margin-left: 50px;
	}
}

.main{
	height: 100%;
   // min-height: 500px;
	min-height: calc(100vh - 202px);
}


.footer{
	padding-top: 20px;
	padding-bottom: 10px;
	.footer-main{
		display: inline-block;
		.copyright{
			color: $text-color;
			font-size: 14px;
			a{
				color: $main-color;
			}
		}
		.share{
			padding-left: 5px;
			margin: 0;
			li{
				list-style: none;
				float: left;
				margin-left: 10px;
				i{
					cursor: pointer;
					transition: all 0.1s ease;
					color: white;
					padding: 9px 9px 6px 9px;
					font-size: 12px;
					border-radius: 50%;
					background-color: $main-color;
					&.socicon-facebook{
						background-color: $facebook-color;
					}
					&.socicon-twitter{
						background-color: $twitter-color;
					}
					&.socicon-instagram{
						background-color: $instagram-color;
					}
					&.socicon-pinterest{
						background-color: $pinterest-color;
					}
					&:hover{
						opacity: 0.9;
					}
				}
			}
		}
	}
	.created{
		color: $text-color;
		font-size: 14px;
		i{
			color: red;
		}
	}
}

.az-overlay{
	position: fixed;
	top:0;left:0;bottom: 0; right: 0;
	z-index: 21;
	background: rgba($main-color, 0.2);
	width: 100%;
	height: 100%;
	display: none;
}


@media (max-width: 544px) {
	.main-wrapper, .main-wrapper.menu-collapsed{
		margin-left: 0;
		padding: 30px 20px 70px;
	}
	.main{
		min-height: calc(100vh - 240px);
	}
	.az-overlay{
		display: block;
	}
	.footer .footer-main, .footer .created{
		float: none;
	}
}

@media (min-width: 544px) and (max-width: 768px) {
	.main-wrapper, .main-wrapper.menu-collapsed{
	   margin-left: 50px;
	}
	.az-overlay{
		display: block;
	}
}

// date picker fix

input[type="date"] {
	position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
}

.table-container {
//   display: flex;
//   flex-direction: column;
  max-height: 500px;
  position: relative;
  width: 100%;
  display: block;
  margin-top: 10px;
//   overflow: auto;
}

.table-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.table-table {
  overflow: auto;
  min-height: 300px;
  display: table !important;
  width: 100%;
  max-width: 100%;
}

.table-loading-shade {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 64px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  &.loading-in-modal {
		z-index: 999999 !important;
  }
}

@media (max-width: 414px) {
	.table-loading-shade{
		bottom: 111px;
	}
	.table-container {
		margin-top: 42px;
	}
}

.table-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

mat-cell, mat-header-cell {
	min-width: 64px;
	padding: 0 6px;
}

.modal {
	padding-top: 0;
}

.mat-header-cell {
	font-weight: bold;
	* {
		font-weight: bold;
	}
}

.mat-header-row, .mat-row {
	border: 1px solid rgba(0,0,0,.12);
	display: table-row;
}

.table-scroll-container {
	overflow: auto;
	width: 100%;
	max-width: 100%;
	max-height: 400px;
}