
<!-- =========== How it work End ============ -->
<section class="working-process" id="working-process">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>How App works?</h2>
                  <p>In under ten minutes set up your whole family for ongoing real-time protection</p>
              </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="working-process-wrapper reveal">
                  <ul class="working-process-list">
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="../img/signup-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Sign Up</h5>
                              <p class="working-process__description">Sign-up for an account online and add your family's details.
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                               <img src="../img/download-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Download</h5>
                              <p class="working-process__description">Download the app and login using your unique account details.
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="../img/add-devices.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Add Devices</h5>
                              <p class="working-process__description">Setup and link the family devices to your account.
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                    <li class="working-process-list-item">
                          <span class="working-process__icon">
                              <img src="../img/protect-icon.png" alt="" />
                          </span>
                          <div>
                              <h5 class="working-process__title">Protect</h5>
                              <p class="working-process__description">The family's supported devices are ready to be protected in real time from online threats.
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
              </div>
          </div>
      </div>
      <!-- content row end -->
  </div>
</section>
<!-- =========== How it work End ============ -->
