
<!-- =========== cta-3 Start ============ -->
<section class="cta-three">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="cta reveal">
                  <div class="cta-wrapper">
                      <div class="cta-content">
                          <h3 class="cta__title">Start Free Trial</h3>
                          <p class="cta__description">No credit card requried</p>
                      </div>
                      <a href="#" class="db-btn db-btn__type-lg db-btn__primary">Get started now
                          <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                      </a>
                  </div>
                  <!-- content end -->
              </div>
          </div>
      </div>
  </div>
</section>
<!-- =========== cta-3 End ============ -->