<!-- =========== pricing Start ============ -->
<section class="pricing-two" id="pricing">
  <span class="abstract-shape right">
      <img class="svg" src="../img/diagonal-shape.svg" alt="shape">
  </span>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Easy Pricing Plans</h2>
                  <p>Etiam fringilla dolor a leo ultrices, a tristique nisi finibus. Morbi maximus nunc erat, faucibus eleifend metus congue molestie.
                  </p>
              </div>
          </div>
          <!-- section title end -->
      </div>
    
      <div class="row">
          <div class="col-12 col-md-3">
              <div class="prcing-table free reveal">
                  <div class="prcing-header">
                      <span class="prcing-table__plan-name">Free Trial</span>

                      <p>
                          <span class="value">2 <span class="small-val">Month</span></span>
                      </p>
                  </div>
                  <ul class="plan-features">
                      <li class="plan-features__list">&nbsp;</li>
                  </ul>
                  <a href="#" class="db-btn db-btn__type-lg db-btn__outline">Get started now
                      <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                  </a>
              </div>
          </div>
          <!-- pricing column end -->
          <div class="col-12 col-md-3">
              <div class="prcing-table free reveal">
                  <div class="prcing-header">
                      <span class="prcing-table__plan-name">Free Trial</span>
                      <p>
                          <span class="currency">$</span>
                          <span class="value">10</span>
                      </p>
                  </div>
                  <ul class="plan-features">
                      <li class="plan-features__list">one time setup fee for free trial, monthly and annual pricing</li>
                  </ul>
                  <a href="#" class="db-btn db-btn__type-lg db-btn__outline">Get started now
                      <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                  </a>
              </div>
          </div>
          <!-- pricing column end -->
          <div class="col-12 col-md-3">
              <div class="prcing-table company focus1 pro reveal">
                  <div class="prcing-header">
                      <span class="prcing-table__plan-name">Introductory offer</span>
                      <p>
                          <span class="currency1">$</span>
                          <span class="value1">8<span class="small-val">Month</span></span>
                      </p>
                      <p>
                          <span class="currency">$</span>
                          <span class="value">6<span class="small-val">Month</span></span>
                      </p>
                  </div>
<ul class="plan-features">
                      <li class="plan-features__list">&nbsp;</li>
                  </ul>							
                  <a href="#" class="db-btn db-btn__type-lg db-btn__outline">Get started now
                      <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                  </a>
              </div>
          </div>
          <!-- pricing column end -->
          <div class="col-12 col-md-3">
              <div class="prcing-table company reveal">
                  <div class="prcing-header">
                      <span class="prcing-table__plan-name">Introductory offer</span>
                       <p>
                          <span class="currency1">$</span>
                          <span class="value1">69<span class="small-val">Month</span></span>
                      </p>
                      <p>
                          <span class="currency">$</span>
                          <span class="value">49<span class="small-val">Annual</span></span>
                      </p>
                  </div>
<ul class="plan-features">
                      <li class="plan-features__list">&nbsp;</li>
                  </ul>							
                  <a href="#" class="db-btn db-btn__type-lg db-btn__outline">Get started now
                      <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                  </a>
              </div>
          </div>
          <!-- pricing column end -->
      </div>
  </div>
</section>
<!-- =========== pricing End ============ -->

