<div class="highlight-bg-color">
  <!-- =========== switchable content End ============ -->
  <section class="switchable switchable-2">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">Backed By Research</h2>
                          <p class="highlight_description">Nullam varius accumsan pulvinar. Proin luctus mauris purus, sit amet rutrum dolor blandit id. Aliquam magna lorem, rhoncus vel bibendum quis, venenatis ut mauris.</p>
                          <p class="switchable__description">Praesent condimentum mauris diam, vitae sagittis enim ullamcorper non. Cras lacinia, tellus ut finibus vestibulum, ex ante tristique sem, eget egestas est enim at ligula. Vivamus venenatis vitae justo rutrum elementum. Nullam eget risus in nibh aliquet lobortis ac non neque. Ut vehicula diam sem, ut eleifend mi ullamcorper sed.
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="#" class="db-btn db-btn__type-lg db-btn__primary">Start free trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                              <a href="#" class="db-btn db-btn__type-lg db-btn__outline">
                                  See all features
                              </a>
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="../img/phone-1.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  
  <!-- =========== switchable content start ============ -->
  <section class="switchable switchable-2 reverse">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="switchable-wrapper">
                      <div class="switchable-content">
                          <h2 class="switchable__title">Complete Protection</h2>
                          <p class="switchable__description">Praesent condimentum mauris diam, vitae sagittis enim ullamcorper non. Cras lacinia, tellus ut finibus vestibulum, ex ante tristique sem, eget egestas est enim at ligula. Vivamus venenatis vitae justo rutrum elementum. Nullam eget risus in nibh aliquet lobortis ac non neque. Ut vehicula diam sem, ut eleifend mi ullamcorper sed.
                          </p>
                          <div class="switchable-cta-buttons">
                              <a href="#" class="db-btn db-btn__type-lg db-btn__primary">Start free trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                          </div>
                      </div>
                      <!-- content end -->
                      <div class="switchable-media reveal">
                          <picture class="switchable-media__img">
                              <img src="..//img/phone-2.png" alt="">
                          </picture>
                          <!-- media end -->
                      </div>
                  </div>
              </div>
          </div>
          <!-- row end -->
      </div>
  </section>
  <!-- =========== switchable content End ============ -->
  </div>