<section class="hero-thirteen hero-text-light content-left" >
   <div class="overlay"></div>
  <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="hero">
                      <div class="hero-wrapper">
                          <div class="hero-content">
                              <h1 class="hero__title">Keeping your family safe online</h1>
                              <p class="hero__caption">Helping families approach cyber safety together using real time behavioural analysis, live alerts, research-backed insights and helpful educational resources.</p>
                              <a href="#" class="db-btn db-btn__type-lg db-btn__primary">Start free trial
                                  <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                              </a>
                              <span class="additional__feature">Start your 30-day  free trial.</span>
                          </div>
                         

                      </div>
                  </div>
              </div>
          </div>
      </div>
      <span class="hero__wave">
          <img class="svg hero__wave--svg" src="assets/layout/hero-wave-13.svg" alt="hero-wave">
      </span>
  </section>