<!-- =========== blog-1 start ============ -->
<div class="home-blog home-blog-one blog-main" id="blog">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title">
                  <h2>Latest news from us</h2>
                  <p>Read latest technology news from our blog
                  </p>
              </div>
          </div>
          <!-- section title end -->
      </div>
      <!-- section title row end -->

      <div class="row">
          <div class="col-12 col-md-6">
              <div class="blog-featured">
                  <article class="article">
                      <a class="article__thumbnail" href="#">
                          <img src="../img/blog-1.jpg" alt="JI">
                      </a>
                      <div class="article-content">
                          <div class="article__meta">
                            

                              <span class="article__meta--published">Mar 23, 2018</span>
                          </div>
                          <a class="article__title" href="#">
                              For Women Only Your Computer Usage Could Cost You Your Job
                          </a>

                          <p>Sitting proudly atop M3565 is the two-storey penthouse. The master bedroom suite is phenomenally
                              spacious and opens out to a breathtaking plunge pool and bar area that makes the
                              most of its unrivalled position.</p>
                          <a href="#" class="db-btn-link">Continue reading
                              <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                          </a>
                      </div>
                  </article>
              </div>
              <!-- blog featured end -->
          </div>
          <div class="col-12 col-md-6 col-lg-5">
              <div class="blog-list">
                  <article class="article">
                      <div class="article-content">
                          <div class="article__meta">
                              

                              <span class="article__meta--published">Mar 23, 2018</span>
                          </div>
                          <a class="article__title" href="#">
                              3 Simple Ways To Save A Bunch Of Money When Buying A New Computer
                          </a>
                      </div>
                  </article>
              </div>
              <!-- single list end -->
              <div class="blog-list">
                  <article class="article">
                      <div class="article-content">
                          <div class="article__meta">
                              

                              <span class="article__meta--published">Mar 23, 2018</span>
                          </div>
                          <a class="article__title" href="#">
                              5 Reasons To Choose A Notebook Over A Computer Desktop
                          </a>
                      </div>
                  </article>
              </div>
              <!-- single list end -->
              <div class="blog-list">
                  <article class="article">
                      <div class="article-content">
                          <div class="article__meta">
                              

                              <span class="article__meta--published">Mar 23, 2018</span>
                          </div>
                          <a class="article__title" href="#">
                              Are You Ready To Buy A Home Theater Audio System
                          </a>
                      </div>
                  </article>
              </div>
              <!-- single list end -->
              <div class="blog-list">
                  <article class="article">
                      <div class="article-content">
                          <div class="article__meta">
                              

                              <span class="article__meta--published">Mar 23, 2018</span>
                          </div>
                          <a class="article__title" href="#">
                              An Ugly Myspace Profile Will Sure Ruin Your Reputation
                          </a>
                      </div>
                  </article>
              </div>
              <!-- single list end -->
              
              
              <a href="blog.html" class="db-btn-link">More Blogs
                              <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                          </a>
          </div>
      </div>
  </div>
</div>
<!-- =========== blog-1 End ============ -->
