<app-header-non-login></app-header-non-login>
<app-header-start-free-trial></app-header-start-free-trial>
<app-features></app-features>
<app-complete-protection></app-complete-protection>
<app-how-it-work></app-how-it-work>
<app-pricing-plans></app-pricing-plans>
<app-latest-news></app-latest-news>
<app-footer-start-free-trial></app-footer-start-free-trial>
<app-footer></app-footer>
