<!-- =========== Features-4 Start ============ -->
<section class="features-four" id="feature">
  <div class="container">
      <!-- section title row end -->
      <div class="row">
          <div class="col-12">
              <div class="feature-wrapper">
                  <ul class="feature">
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon monitor-icon"></i>
                          </span>
                          <div>
                          <h4 class="feature__title">Monitor</h4>
                              <p class="feature__description">Protect your kids without spying or blocking</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon rick-det-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Risk Detection</h4>
                              <p class="feature__description">Online activity constantly assessed for dangers</p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon parentaler-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Parent Alert</h4>
                              <p class="feature__description">Real time threat alerts for parents, so you can take action
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                      <li class="feature__list">
                          <span class="feature__icon">
                              <i class="nc-icon education-icon"></i>
                          </span>
                          <div>
                              <h4 class="feature__title">Education</h4>
                              <p class="feature__description">Encouraging open discussions between parents and kids
                              </p>
                          </div>
                      </li>
                      <!-- single item end -->
                  </ul>
                  <!-- feature content end -->
                  <div class="features-cta reveal">
                      <h2 class="features-cta__title">Starting with App is easier than anything!</h2>
                      <p class="features-cta__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna lorem, mattis et orci at, maximus imperdiet enim. Nunc hendrerit condimentum lacus, eget euismod nunc viverra ac.</p>
                      <div class="features-cta-buttons">
                          <a href="#" class="db-btn db-btn__type-lg db-btn__primary">Start free trial
                              <i class="db-btn__icon db-btn__icon--after nc-icon nc-tail-right"></i>
                          </a>
                          <a href="#" class="db-btn db-btn__type-lg db-btn__outline">
                              See all features
                          </a>
                      </div>
                  </div>
                  <!-- media content end -->
              </div>
          </div>
      </div>
      <!-- row end -->
  </div>
</section>
<!-- =========== Features-4 End ============ -->