<header class="navigation navigation__transparent navigation__caps navigation__separate navigation__right navigation__btn-fill">
  <div class="container-full">
      <div class="row">
          <div class="col-12">
              <div class="navigation-content">
                  <a href="index.html" class="navigation__brand">
                      <img class="navigation-main__logo" src="../img/logo.png" alt="">
                      <img class="sticky-nav__logo" src="../img/logo.png" alt="sticky logo">
                  </a>
                  <button class="navigation__toggler"></button>
                  <!-- offcanvas toggle button -->
                  <nav class="navigation-wrapper">
                      <button class="offcanvas__close">✕</button>
                      <!-- offcanvas close button -->
                      <ul class="navigation-menu" id="nav">
                          <li class="navigation-menu__item">
                              <a class="navigation-menu__link" href="#feature">Features</a>
                          </li>
                          <li class="navigation-menu__item">
                              <a class="navigation-menu__link" href="#pricing">Pricing</a>
                          </li>
                          <li class="navigation-menu__item">
                              <a class="navigation-menu__link" href="#blog">Blog</a>
                          </li>                                   
                      </ul>
                  </nav>
                  <!-- nav item end -->
                  <div class="navigation-button navigation-button-couple">
                      <a href="sign-in.html" class="nav-cta-btn more-space navigation-button-couple__trans">Login</a>
                      <a href="sign-up.html" class="db-btn nav-cta-btn navigation-button-couple__fill">Signup</a>
                  </div>

              </div>
          </div>
      </div>
      <!-- row end -->
  </div>
</header>


